In [1]:
import pandas as pd

In [2]:
data= {
    'x':[1,2,3,4,5,7,10],
    'y':[2,3,5,4,6,6,8]
}

In [3]:
data

{'x': [1, 2, 3, 4, 5, 7, 10], 'y': [2, 3, 5, 4, 6, 6, 8]}

In [4]:
dataset=pd.DataFrame(data)

In [6]:
dataset.head()

   x  y
0  1  2
1  2  3
2  3  5
3  4  4
4  5  6

## Calculae pearson correlation

In [8]:
pearson_corr=dataset['x'].corr(dataset['y'])
pearson_corr

0.9391480052471199

In [9]:
dataset.corr()

          x         y
x  1.000000  0.939148
y  0.939148  1.000000