In [55]:
import pandas as pd
LungCap=pd.read_excel("LungCap.xlsx")
LungCap.head()

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [4]:
print(LungCap)

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0          6.475            6            62.1    no    male        no
1         10.125           18            74.7   yes  female        no
2          9.550           16            69.7    no  female       yes
3         11.125           14            71.0    no    male        no
4          4.800            5            56.9    no    male        no
..           ...          ...             ...   ...     ...       ...
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

[725 rows x 6 columns]

In [5]:
pd.options.display.min_rows

10

In [6]:
pd.options.display.max_rows

60

In [7]:
LungCap.head()

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [10]:
LungCap.head(10)

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no
5        6.225           11            58.7    no  female        no
6        4.950            8            63.3    no    male       yes
7        7.325           11            70.4    no    male        no
8        8.875           15            70.5    no    male        no
9        6.800           11            59.2    no    male        no

In [13]:
LungCap.tail(10)

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
715        8.725           19            68.4    no  female        no
716        7.075           11            66.7    no    male       yes
717        8.825           16            71.3   yes  female        no
718        7.175           17            68.8    no    male       yes
719        7.325            9            66.3    no    male        no
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

In [14]:
###Randomly selection
LungCap.sample(10)

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
380        5.850           12            62.6    no    male        no
106       10.875           16            75.5    no    male        no
188        7.925           14            65.3    no  female       yes
272        8.700           14            73.1    no    male       yes
636        9.050           15            65.3    no    male       yes
263        5.175           12            56.6    no  female       yes
364        6.050           10            58.3    no  female        no
122       13.200           17            78.6    no    male       yes
218        7.350           15            61.9   yes  female       yes
148        8.225           14            64.0    no  female        no

In [15]:
###Information about dataFrame
LungCap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LungCap(cc)     725 non-null    float64
 1   Age( years)     725 non-null    int64
 2   Height(inches)  725 non-null    float64
 3   Smoke           725 non-null    object
 4   Gender          725 non-null    object
 5   Caesarean       725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [17]:
3##sssummery of the data
LungCap.describe()

       LungCap(cc)  Age( years)  Height(inches)
count   725.000000   725.000000      725.000000
mean      7.863148    12.326897       64.836276
std       2.662008     4.004750        7.202144
min       0.507000     3.000000       45.300000
25%       6.150000     9.000000       59.900000
50%       8.000000    13.000000       65.400000
75%       9.800000    15.000000       70.300000
max      14.675000    19.000000       81.800000

In [19]:
### Include categorical data
LungCap.describe(include="object")

       Smoke Gender Caesarean
count    725    725       725
unique     2      2         2
top       no   male        no
freq     648    367       561

In [20]:
type(LungCap)

pandas.core.frame.DataFrame

In [21]:
len(LungCap)

725

In [22]:
round(LungCap,0)

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0            6.0            6            62.0    no    male        no
1           10.0           18            75.0   yes  female        no
2           10.0           16            70.0    no  female       yes
3           11.0           14            71.0    no    male        no
4            5.0            5            57.0    no    male        no
..           ...          ...             ...   ...     ...       ...
720          6.0            9            56.0    no  female        no
721          9.0           18            72.0   yes    male       yes
722          4.0           11            60.0   yes  female        no
723         10.0           15            65.0    no  female        no
724          7.0           10            68.0    no    male        no

[725 rows x 6 columns]

In [23]:
min(LungCap)

'Age( years)'

In [24]:
max(LungCap)

'Smoke'

DataFrame Attribute

In [25]:
LungCap.shape

(725, 6)

In [27]:
LungCap.index

RangeIndex(start=0, stop=725, step=1)

In [26]:
LungCap.size

4350

In [28]:
LungCap.columns

Index(['LungCap(cc)', 'Age( years)', 'Height(inches)', 'Smoke', 'Gender',
       'Caesarean'],
      dtype='object')

DataFrame method

In [29]:
LungCap.head(2)

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no

In [30]:
LungCap.info

<bound method DataFrame.info of      LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0          6.475            6            62.1    no    male        no
1         10.125           18            74.7   yes  female        no
2          9.550           16            69.7    no  female       yes
3         11.125           14            71.0    no    male        no
4          4.800            5            56.9    no    male        no
..           ...          ...             ...   ...     ...       ...
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

[725 rows x 6 columns]>

In [31]:
LungCap.min()

LungCap(cc)        0.507
Age( years)            3
Height(inches)      45.3
Smoke                 no
Gender            female
Caesarean             no
dtype: object

In [37]:
###chaining method
LungCap.mean().sort_values().head()

TypeError: Could not convert ['noyesnonononononononononononononononoyesnonononononononononoyesnononononononononononononononononononononononononononononononononononoyesyesnonononononononoyesnonononononononononononoyesnononoyesnoyesnoyesnononoyesnonononononononononononononononononoyesnoyesnononononononoyesnonononononononononononononononononononononononononoyesnonononononononononononononononoyesnoyesnonoyesnononononononononononononononononononononononononononononononononononononononoyesnoyesnonononononononononononononononoyesyesnononononononononoyesnononononononoyesnonoyesnonononononononononononononononononononoyesnonononononononoyesnoyesnonononononononoyesnononononoyesnononononononononoyesnonononononononononononononononononononononononoyesnonononononononononononononononoyesnononoyesnononononoyesnononononononononononononoyesnonononoyesnononononononononononononononononononononononoyesnononononoyesyesnonononoyesnonononoyesnononononoyesnononononononoyesnonononononononononononononoyesnononononononononoyesnononononoyesyesyesnonoyesnonononoyesnononononononononononononononononononononononononononoyesyesnoyesnononononononononononononoyesnononononononononononononononononononononoyesnonononononononononoyesnonoyesnonononononoyesnononononoyesnonononononononoyesnonononononononononononononononononononoyesnonononononononononoyesnonoyesnononononononononononononononoyesnonononoyesyesnonononononononononononononoyesnonononononononononononoyesnonononoyesnoyesnonononoyesnononononononononononononoyesyesnonononononononononononononononononoyesnononoyesyesnono'
 'malefemalefemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalemalemalefemalefemalemalefemalemalemalefemalemalefemalemalefemalefemalefemalemalemalemalemalemalemalemalefemalemalefemalefemalefemalemalemalefemalemalefemalemalemalemalemalemalemalemalemalemalemalefemalemalefemalemalefemalefemalemalefemalefemalefemalefemalemalefemalemalefemalefemalefemalefemalemalefemalefemalemalefemalemalemalefemalefemalefemalemalefemalefemalemalemalemalemalefemalefemalefemalemalemalemalemalemalemalefemalefemalefemalefemalemalemalemalemalemalefemalefemalemalemalefemalefemalemalefemalemalemalemalemalemalemalefemalemalefemalemalefemalemalefemalemalefemalemalefemalefemalefemalemalemalemalefemalefemalemalefemalefemalefemalemalefemalefemalemalemalemalefemalefemalefemalemalefemalemalemalefemalefemalemalemalefemalemalemalemalemalefemalemalemalefemalefemalefemalemalemalefemalefemalefemalemalemalefemalemalefemalemalefemalemalefemalemalemalefemalefemalefemalemalemalemalemalefemalefemalemalefemalemalefemalefemalemalefemalefemalemalemalemalemalemalefemalemalemalefemalemalefemalemalefemalemalemalefemalefemalemalemalefemalemalefemalemalefemalefemalemalefemalemalefemalemalefemalefemalemalefemalefemalemalemalefemalemalemalemalefemalefemalemalemalefemalemalefemalefemalemalefemalefemalefemalemalemalefemalemalefemalemalefemalemalefemalefemalefemalemalemalemalemalefemalemalemalemalemalemalefemalefemalemalefemalemalefemalemalefemalemalemalemalemalefemalefemalefemalefemalemalemalefemalemalemalefemalefemalefemalemalefemalefemalefemalefemalemalefemalemalemalemalefemalefemalemalemalemalemalefemalemalefemalefemalemalemalefemalefemalefemalefemalemalemalefemalemalemalemalemalefemalefemalemalemalefemalemalefemalefemalefemalemalefemalefemalemalemalefemalefemalefemalemalemalefemalemalefemalemalefemalefemalefemalemalefemalefemalefemalemalefemalemalefemalefemalemalefemalefemalemalemalemalemalefemalefemalefemalemalefemalemalefemalemalemalefemalefemalemalefemalemalemalefemalefemalemalefemalefemalemalefemalemalefemalefemalefemalemalemalefemalefemalefemalefemalefemalemalefemalefemalemalemalefemalefemalemalemalefemalemalemalefemalemalemalefemalefemalemalefemalemalemalemalemalefemalemalemalemalefemalefemalefemalefemalemalefemalefemalefemalefemalefemalemalefemalemalemalemalefemalemalemalemalefemalemalemalemalemalemalemalemalemalemalemalemalemalemalefemalefemalemalemalemalefemalefemalefemalemalemalemalefemalefemalefemalefemalemalefemalemalefemalemalemalefemalemalefemalefemalemalemalemalefemalefemalemalefemalefemalemalemalefemalefemalefemalefemalemalefemalemalefemalemalefemalefemalefemalemalemalefemalefemalemalefemalemalefemalemalemalefemalefemalefemalemalefemalefemalemalemalemalefemalemalemalefemalemalemalemalefemalemalemalefemalefemalefemalefemalefemalemalefemalefemalefemalefemalefemalefemalemalefemalemalemalefemalefemalefemalemalemalefemalefemalemalefemalemalemalefemalemalemalemalefemalefemalefemalemalemalemalemalemalefemalefemalefemalefemalefemalemalefemalefemalefemalefemalemalefemalefemalefemalefemalefemalemalefemalemalemalefemalemalefemalefemalefemalefemalefemalemalefemalemalefemalemalemalefemalemalemalemalefemalefemalefemalefemalemalefemalemalemalefemalefemalemalemalefemalefemalemalemalefemalemalemalemalefemalefemalemalefemalemalefemalefemalefemalemalefemalefemalemalefemalemalefemalefemalemalefemalemalemalemalemalemalefemalemalemalemalemalemalemalemalefemalefemalefemalemalefemalemalefemalefemalefemalefemalefemalemalefemalefemalemalefemalemalefemalemalefemalemalefemalemalefemalefemalemalemalefemalefemalemalefemalefemalefemalemalefemalemalemalefemalefemalemalefemalemalemalefemalemalefemalefemalemale'
 'nonoyesnononoyesnononoyesnonononoyesnononononononoyesnoyesnononononononoyesnononononononoyesnonononoyesnonononononononononononoyesnonononononononononoyesnoyesnonoyesnononononononononoyesyesnononoyesnononoyesnononononononoyesnonononononononononononoyesnononononoyesyesnoyesyesyesyesyesyesnonononononononononononononoyesnoyesnonoyesnononononononoyesyesyesyesnonononononononoyesnonononononononoyesyesnoyesnononoyesnonoyesnonononononoyesnoyesnonononononononononononononononononoyesnoyesnoyesnoyesnonoyesnonononononononoyesnoyesnonoyesnononoyesnononoyesnonononononoyesnonoyesnononononoyesyesnoyesnononononoyesnonoyesnoyesnononononononoyesnononononoyesnononononoyesnonoyesyesnononononononononononononononononoyesnonononononononononoyesnononoyesyesyesyesyesnonoyesnonononoyesnonoyesyesnonononoyesnonoyesnononoyesnonononoyesnonoyesnoyesnonoyesnoyesnononononononoyesnonononononononononoyesnoyesnononoyesyesnononononononononoyesnononononoyesnononoyesnonoyesyesnononononononononononononoyesnononononoyesnoyesnoyesnononononoyesnoyesnonononononononononoyesnonoyesnononononoyesyesnononononoyesnonoyesyesnononononoyesyesnonoyesyesnonoyesnonononoyesyesnonononononononononoyesyesnonononoyesnoyesyesnonoyesyesnononoyesnoyesnononononoyesyesnonononononononoyesnonoyesyesnoyesyesnononoyesnoyesyesnononononoyesnoyesnononononononoyesnonononononononononoyesyesnonononononoyesnonononoyesnoyesnononoyesnononoyesyesnononoyesnonononononononononoyesyesnononoyesnonononononononononononoyesnonononononononononononononononoyesnononononoyesyesnononoyesnoyesnoyesnonononononononoyesyesnonononononononoyesnoyesnononoyesyesnononoyesnoyesnonoyesnonono'] to numeric

In [39]:
LungCap["Age( years)"]

0       6
1      18
2      16
3      14
4       5
       ..
720     9
721    18
722    11
723    15
724    10
Name: Age( years), Length: 725, dtype: int64

In [43]:
LungCap[["Age( years)","Gender"]]

     Age( years)  Gender
0              6    male
1             18  female
2             16  female
3             14    male
4              5    male
..           ...     ...
720            9  female
721           18    male
722           11  female
723           15  female
724           10    male

[725 rows x 2 columns]

In [42]:
type(LungCap[["Age( years)","Gender"]])

pandas.core.frame.DataFrame

In [44]:
LungCap.Gender

0        male
1      female
2      female
3        male
4        male
        ...
720    female
721      male
722    female
723    female
724      male
Name: Gender, Length: 725, dtype: object

In [45]:
LungCap.iloc[0]

LungCap(cc)       6.475
Age( years)           6
Height(inches)     62.1
Smoke                no
Gender             male
Caesarean            no
Name: 0, dtype: object

In [47]:
LungCap.iloc[[1,2,3]]

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no

In [48]:
LungCap.iloc[1:4]

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no

In [49]:
LungCap.iloc[:5]

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [50]:
LungCap[-5:]

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

In [51]:
LungCap.iloc[:,4]

0        male
1      female
2      female
3        male
4        male
        ...
720    female
721      male
722    female
723    female
724      male
Name: Gender, Length: 725, dtype: object

In [61]:
import pandas as pd
LungCap=pd.read_excel("LungCap.xlsx", index_col="Gender")
LungCap.head()

        LungCap(cc)  Age( years)  Height(inches) Smoke Caesarean
Gender
male          6.475            6            62.1    no        no
female       10.125           18            74.7   yes        no
female        9.550           16            69.7    no       yes
male         11.125           14            71.0    no        no
male          4.800            5            56.9    no        no

In [67]:
len(LungCap.loc["male"])

367

In [71]:
LungCap.loc[["male","female"],["Smoke"]].head(600)

       Smoke
Gender
male      no
male      no
male      no
male      no
male      no
...      ...
female    no
female    no
female    no
female    no
female    no

[600 rows x 1 columns]

In [73]:
LungCap.loc[:,["Age( years)"]].head()

        Age( years)
Gender
male              6
female           18
female           16
male             14
male              5